<section class="form">
<h1 class="apply-title">Let us find the perfect treats for your doggo!<br>Fill out the form and find out now.</h2>
<br>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "apply-form"}) do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <%= f.input :email,
                required: true,
				placeholder: 'example@localhost.com',
                autofocus: true ,
                input_html: { autocomplete: "email" } %>     
	<br>
    <%= f.input :password,
                required: true,
                placeholder: 'minimum 6 characters required',
                html: { class: "aa" },
                input_html: { autocomplete: "new-password" } %>
	<br>
	<%= f.input :password_confirmation,
                required: true,
                placeholder: 'minimum 6 characters required',
                input_html: { autocomplete: "new-password" } %>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, t(".sign_up"), class: 'submit-apply' %>
  </div>
  
        </section>
<% end %>

<!--
<%= render "devise/shared/links" %>
-->