

<section class="form">
<h1 class="apply-title">환상적인 사료 정보를 위해 로그인하세요! </h2>
<br>
            
<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <div style="margin-top: 30px;">
        <%= content_tag(:div, "이메일", class: "") %>
        <%= f.email_field :email, id: "form_1", autofocus: true, autocomplete: "email", placeholder: "example@localhost.com", class: "" %>

    </div>
    <div style="margin-top: 10px;">
        <div class="label">비밀번호</div>
    <%= f.password_field :password, class: "devise_noborder", id: "form_2", autofocus: true, autocomplete: "off", placeholder: "password", value: "" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Log in", class: 'submit-apply' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</section>
